<div class="row">
    <!-- box at horizontally center-->
  <div class="col-lg-11 col-xl-9 mx-auto">
    <div class="card">
      <div class="card-header">
        <h1>Wizard Finished</h1>
      </div>
      <div class="card-body">
        <!-- box 1 starts -->
        <div class="box-1">
          <div class="row m-0">
            <div class="col-lg-3 text-center p-3" style="border-top: solid 5px red">
              <div>
                <span class="badge badge-pill badge-success p-4" style="font-size:20px">1</span>
              </div>
              <div>
                <h5>Personal Details</h5>
              </div>
            </div>
            <div class="col-lg-3 text-center p-3" style="border-top: solid 5px red">
              <div>
                <span class="badge badge-pill badge-success p-4" style="font-size:20px">2</span>
              </div>
              <div>
                <h5>Contact Details</h5>
              </div>
            </div>
            <div class="col-lg-3 text-center p-3" style="border-top: solid 5px red">
              <div>
                <span class="badge badge-pill badge-success p-4" style="font-size:20px">3</span>
              </div>
              <div>
                <h5>Skills</h5>
              </div>
            </div>
            <div class="col-lg-3 text-center p-3" style="border-top: solid 5px red">
              <div>
                <span class="badge badge-pill badge-success p-4" style="font-size:20px">4</span>
              </div>
              <div>
                <h5>Work Experience</h5>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          Congratulations
        </div>
        <div class="card-body text-md-center">
          Your profile has been created successfully
        </div>
        <div class="card-footer text-right">
          <a class="btn btn-primary" [routerLink]=" ['/welcome'] ">Close</a>
        </div>
      </div>
    </div>
  </div>
</div>
